<style>
    .btn-search {
        background-color: brown;
        color: white;
        margin-right: 0.8rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .cont {
        border: 0.2px solid black;
        border-radius: 3rem;
        width: fit-content;
        /* Adjust width to fit content */
        height: fit-content;
        /* Adjust height to fit content */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .search-bar {
        border-radius: 3rem;
        border: 0px;
        color: black;
        margin-left: 0.8rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        width: 30rem;
    }

    .btn-search {
        opacity: 0.8;
    }

    .btn-search:hover {
        background-color: brown;
        opacity: 1;
    }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listing"><i class="fa-solid fa-bolt"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/listing">Explore</a>
            </div>
            <div class="navbar-nav ms-auto">
                <form class="d-flex cont">
                    <input class="form-control search-bar me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-search rounded-circle" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listing/new">List your home</a>
                <% if(!currUser) { %>
                    <a class="nav-link" aria-current="page" href="/signup"><b>Signup</b></a>
                    <a class="nav-link" href="/login"><b>Login</b></a>
                <% } %>
                <% if(currUser) { %>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <a class="nav-link" href="/logout"><b>Logout</b></a>
                        <div style="color: darkblue;">
                            <%= currUser.username %>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</nav>